
@model DeliveryOrderModel

<div class="container-fluid">
    <h1 align="center">Tạo đơn hàng giao hàng</h1>
    <div class="row">
        <form style="width:900px;margin:0 auto;" method="post" asp-action="CreateDeliveryOrder" asp-controller="Home">
            <div class="form-group">
                <label class="font-weight-bold" asp-for="delivery_order_date"></label>
                <input type="date" asp-for="delivery_order_date" class="form-control"/>
                @Html.ValidationMessageFor(model => model.delivery_order_date, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label class="font-weight-bold" asp-for="order_status"></label>
                <select class="form-control" asp-for="order_status">
                    <option value="Processing">Đang xử lý</option>
                    <option value="Processed">Đã xử lý</option>
                </select>
                <span asp-validation-for="order_status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="font-weight-bold" asp-for="expected_quantity"></label>
                <input type="text" asp-for="expected_quantity" class="form-control" />
                <span asp-validation-for="expected_quantity" class="text-danger"></span>
            </div>

            <div class="text-center mt-2">
                <input type="submit" id="submit" class="btn btn-success mb-2" value="Tạo đơn hàng">
            </div>
        </form>
    </div>
    <div class="row">
        <a href="/Home/Index" class="btn btn-primary">Về danh sách đơn hàng</a>
    </div>
</div>